.pl {
    padding: 50px 100px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .pl-texts {
    width: 65%;
  }
  
  .pl-title {
    font-size: 50px;
    font-weight: 600;
  }
  
  .pl-desc {
    margin: 20px 0px;
  }
  
  .pl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 375px) {
    .pl {
      overflow: hidden;
      padding: 10px;
    }
  
    .pl-texts {
      width: 100%;
    }
  
    .pl-desc {
      margin: 0px;
      padding-bottom: 30px;
      font-size: 15px;
    }
    .pl-title {
      padding-top: 50px;
      padding-bottom: 25px;
      font-size: 30px;
    }
  }

  @media screen and (max-width: 768px) {
    .pl {
      overflow: hidden;
      padding: 10px;
    }
  
    .pl-texts {
      width: 100%;
    }
  
    .pl-desc {
      margin: 0px;
      padding-bottom: 30px;
      font-size: 15px;
    }
    .pl-title {
      padding-top: 50px;
      padding-bottom: 25px;
      font-size: 30px;
    }
  }

  